:host{
  display: flex;
  flex-direction: column;
}
mat-drawer{
  width: 350px;
}

mat-drawer-container{
  height: 100;
}

mat-drawr .height{
  width: auto;
  margin-top: 78px;
  nav-right: inherit;
}
